* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{

}
.titulo-p{

}
.Introduccion{}
.card-group , img{

}
.card-body{

}
.footer{

}
.Secciones{

}
.Recursos{

}
.Redes{

}
.carouselExampleInterval{

}
.InformacionDetalle{

}
.mapa_info{

}